/***** General things *****/
@font-face {
    font-family: Birmingham;
    src: url(Birmingham.ttf);
}

body{
  background-color: #308713;
  color: white;
  min-width: 280px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.list-group {
  color: black;
}

section#main{
  padding: 7%;
  background-image: url("images/Blank.png");
  background-size: contain;
  color: black;
  text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

/***** Logo Banner *****/

#logo {
  width: 100%;
  min-width: 280px;
  height: 100px;
  display: inline;
  font-family: Birmingham;
  text-align: center;
}  

/***** Footer *****/
footer {
  font-size: 0.75em;
  font-family: Birmingham;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
}

/*@media screen and (min-width: 200px) {
  .small-screens {
    display: none;
  }*/
}
