/***** General things *****/
@font-face {
  font-family: Birmingham;
  src: url(Birmingham.ttf);
}

body{
  background-color: #308713;
  color: white;
  min-width: 280px;
}

a:link, a:visited {
  color: black;
}
h1 > a:link, h1 > a:visited {
  color: white;
}

.list-group {
  color: black;
}

/*Slang page background*/
section#main{
  padding: 7%;
  background-image: url("images/Blank.png"); /*Now that I have photoshop I should make this a column instead of box*/
  background-size: contain;
  color: black;
  text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

section#main > h1 {
  font-family: Birmingham;
  font-size: 1.8em;
}

section#main h2 {
  font-family: Birmingham;
  font-size: 1.4em;
}

section#main h3 {
  font-family: Birmingham;
  font-size: 1.2em;
}

section#main ul {
  list-style-type: none;
  padding-left: 20px;
}
section#main li::before {
  content: "\2023    "
}

/***** Navigation and Spacing *****/
nav {    
  font-family: Birmingham;
  max-width: 300px;
  background-image: url("images/navmid.png");
}
nav img {
  width: 100%;
  max-width: 300px;
}

/***** Logo Banner *****/

#logo {
  width: 100%;
  min-width: 280px;
  height: 100px;
  display: inline;
  font-family: Birmingham;
  text-align: center;
}  

/***** Footer *****/
footer {
  font-size: 0.75em;
  font-family: Birmingham;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
}

/*@media screen and (min-width: 200px) {
  .small-screens {
    display: none;
  }
}*/
